*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  font-family: Roboto, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
address {
  font-style: normal;
}

.categories {
  padding-top: 64px;
  padding-bottom: 64px;
}

.container {
  width: 1150px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* ----------------------header----------------------------------------------- */
.header {
  position: absolute;
  width: 100%;
}
.header-position {
  display: flex;
  padding-top: 13px;
  justify-content: center;
  align-items: center;
  padding-bottom: 14px;
}
.header-logo {
  margin-right: 20px;
}
.header-logo-title {
  font-family: "PT Serif", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 1px;
}
.header-logo-text {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.header-contacts-list {
  margin-left: auto;
  display: flex;
}
.header-contacts-item a {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-contacts-item:not(:last-child) {
  margin-right: 69px;
}
.header-button {
  margin-left: 45px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 13px 30px 13px 30px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 22px;
}
.header-main-item a {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.header-menu-list {
  display: flex;
}
.header-nav {
  padding-top: 20px;
}
.header-main-item:not(:last-child) {
  margin-right: 32px;
}
.header-icon {
  margin-right: 12px;
}
/* --------------HERO------------------------ */
.hero {
  background-image: url(../images/hero-sect.jpg);
  padding-top: 226px;
  padding-bottom: 44px;
  background-repeat: no-repeat;
  background-position: center;
}
.hero::before {
  position: absolute;
  content: "";
  top: 81px;
  width: 100%;
  background: #c4c4c4;
  opacity: 0.3;
  height: 1px;
  display: block;
}
.hero-title {
  font-family: "PT Serif", sans-serif;

  font-weight: 700;
  font-size: 90px;
  line-height: 130%;

  color: #ffffff;
  margin-bottom: 8px;
}
.hero-text {
  font-size: 20px;
  line-height: 140%;
  /* or 28px */
  color: #ffffff;
  margin-bottom: 94px;
}
.hero-button {
  display: inline-block;
  color: #ffffff;
  padding: 20px 53px 20px 53px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 30px;
  margin-bottom: 184px;
}
.hero-button-down {
  display: flex;
  border: 1px solid #ffffff;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
}
.hero-icon-down {
  width: 13px;
  height: 18px;
}
/* -------------------------primary-activity----------------------- */
.primary-activity {
  background-color: rgba(112, 207, 41, 0.07);
}
.primary-activity-title {
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 130%;
  /* identical to box height, or 39px */

  text-align: center;

  /* Заголовки */

  color: #000000;
}
/*-------------categories-----------------*/
.categories-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -32px;
  margin-bottom: -32px;
}

.categories-list-item {
  width: 256px;
  margin-right: 32px;
  margin-bottom: 32px;
  overflow: hidden;
  border: 1px solid #d9d9de;
  border-radius: 6px;
}

.categories-subtitle {
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 13px;
  padding-bottom: 16px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #000000;
}

/*-------------photogallery-----------------*/

.photogallery {
  padding-top: 44px;
  padding-bottom: 80px;
  background-color: rgba(63, 169, 245, 0.07);
}

.photogallery-title {
  font-family: PT Serif, serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  color: #000000;
}

.photogallery-link {
  margin-left: auto;
  font-size: 16px;
  line-height: 1.19;
  text-decoration-line: underline;
  color: #0050b2;
}

.photogallery-btn {
  font-family: inherit;
  width: 44px;
  height: 44px;
  border: 1px solid #0061d9;
  border-radius: 50%;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  display: flex;
}
.photogallery-icon {
  display: flex;
  width: 12px;
  height: 24px;
}
.photogallery-btn-list {
  margin-left: 55px;
  display: flex;
}

.photogallery-btn-list li:first-child {
  margin-right: 16px;
}

.photogallery-container {
  display: flex;
  align-items: center;
}

.phototogallery-content-list {
  margin-top: 52px;
  display: flex;
  flex-wrap: wrap;
  margin-right: -32px;
  margin-bottom: -32px;
}

.phototogallery-content-list-item {
  width: 352px;
  margin-right: 32px;
  margin-bottom: 32px;
}

/*----------------------footer----------------*/
.contact-footer {
  font-size: 14px;
  line-height: 130%;

  display: block;
}
.footer-title {
  margin-bottom: 17px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-transform: uppercase;
  color: #ffffff;
}
.link-footer-color {
  color: rgba(255, 255, 255, 0.8);
}
.footer-privacy {
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-logo-right {
  display: flex;
  color: rgba(255, 255, 255, 0.5);
}
.footer-logo-right span {
  margin-right: 14px;
}
.footer-list {
  margin-bottom: -10px;
}

.footer-list-item {
  margin-bottom: 10px;
}

.footer {
  padding-top: 39px;
  padding-bottom: 45px;
  background-color: #202020;
}

.footer-list-item-link {
  font-size: 16px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.8);
}

.footer-gorod {
  max-width: 219px;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  color: #ffffff;
  margin-bottom: 7px;
}
.footer-subtitle:not(:last-child) {
  margin-right: 62px;
}
.footer-container-down-first {
  display: flex;
}
.footer-container-up {
  display: flex;
  padding-bottom: 18px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-container-down {
  padding-top: 32px;

  display: flex;
}

.small-footer-text {
  display: block;
  margin-top: 7px;
  font-size: 14px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.8);
}

.footer-container-down-sub {
  margin-right: 64px;
}
.footer-container-down-last {
  margin-left: auto;
}
